@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<h3 class="text-danger">There is some error while processing your request.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Exception != null)
{
    <h4>Message:</h4>
    <p>@Model.Exception.Message.</p>

    <p class="text-muted">@Model.InnerErrorMessage</p>
}

<h4>Please try again after some time.</h4>