@model TicketDetailsViewModel
@{
    ViewData["Title"] = "Tickets Details Page";
}

<div>
    <h4>Tickets Details</h4>
    <div>
        <a href="javascript:void(0);" onclick="history.go(-1);">Back to Tickets List</a>
        <p>@Model.Subject</p>
    </div>
</div>
